<div class="navbar">
    <div  class=" commonstylemenu ">
        <div class="menulist menushades"><a routerLink="/home">Home</a></div>
        <div class="menulist menushades"><a routerLink="/player">New Player</a></div>
    </div>
    <div  *ngIf="showSearch" class="search-container">
        <form >
          <input list ="browsers" class ="search-placeholder" (keyup)="search($event)" type="text" placeholder="search the player" #player name="search" autocomplete="off" spellcheck="false">
          <datalist id="browsers">
            <option *ngFor= "let data of details" value={{data.name}}>
          </datalist>
          <button (click)="displayDetails(player.value)" class ="search-button">Go</button>
        </form>
      </div>
</div>